body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-menu-item-selected {
  background-color: #f06000 !important;
  color: #fff !important;
}

.ant-menu > .ant-menu-item:hover,
.ant-menu > .ant-menu-submenu:hover{
  color: #f06000 !important;
  border-bottom: 2px solid #f06000 !important;
}

.scroll {
  height: 400px;
  overflow-y: auto;
}

.ganttscroll {
  overflow-y: auto;
  overflow-x: auto;
}

